In [1]:
import pandas as pd 

df = pd.read_csv('diabetes.csv')
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [2]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [3]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [4]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [5]:
268/500

0.536

In [6]:
X=df.drop('Outcome',axis=1)
y=df['Outcome']

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled=scaler.fit_transform(X)
X_scaled[:3]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415]])

In [8]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X_scaled,y,stratify=y,random_state=42)

In [9]:
X_train.shape

(576, 8)

In [10]:
X_test.shape

(192, 8)

In [11]:
y_train.value_counts()

0    375
1    201
Name: Outcome, dtype: int64

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores=cross_val_score(DecisionTreeClassifier(),X,y,cv=5)
scores

array([0.66233766, 0.63636364, 0.7012987 , 0.77124183, 0.73856209])

In [14]:
scores.mean()

0.7019607843137254

In [15]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                              n_estimators=100,
                              max_samples=0.8,
                              oob_score=True,
                              random_state=0)

bag_model.fit(X_train,y_train)
bag_model.oob_score_

0.7621527777777778

In [17]:
bag_model.score(X_test,y_test)

0.734375

In [18]:
bag_model = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                              n_estimators=100,
                              max_samples=0.8,
                              oob_score=True,
                              random_state=0)

scores=cross_val_score(bag_model,X,y,cv=5)
scores

array([0.75324675, 0.72727273, 0.74675325, 0.82352941, 0.73856209])

In [19]:
scores.mean()

0.7578728461081402

In [20]:
from sklearn.ensemble import RandomForestClassifier

cross_val_score(RandomForestClassifier(n_estimators=100),X,y,cv=5)
scores.mean()

0.7578728461081402

In [55]:
import pandas as pd 

df = pd.read_csv('heart.csv')
df.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [56]:
df.shape

(918, 12)

In [57]:
df.describe()

              Age   RestingBP  ...     Oldpeak  HeartDisease
count  918.000000  918.000000  ...  918.000000    918.000000
mean    53.510893  132.396514  ...    0.887364      0.553377
std      9.432617   18.514154  ...    1.066570      0.497414
min     28.000000    0.000000  ...   -2.600000      0.000000
25%     47.000000  120.000000  ...    0.000000      0.000000
50%     54.000000  130.000000  ...    0.600000      1.000000
75%     60.000000  140.000000  ...    1.500000      1.000000
max     77.000000  200.000000  ...    6.200000      1.000000

[8 rows x 7 columns]

In [58]:
# Convert columns to numeric type
df = df.apply(pd.to_numeric, errors='coerce')

Original DataFrame:
     Age  Sex  ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0     40  NaN            NaN  ...      0.0       NaN             0
1     49  NaN            NaN  ...      1.0       NaN             1
2     37  NaN            NaN  ...      0.0       NaN             0
3     48  NaN            NaN  ...      1.5       NaN             1
4     54  NaN            NaN  ...      0.0       NaN             0
..   ...  ...            ...  ...      ...       ...           ...
913   45  NaN            NaN  ...      1.2       NaN             1
914   68  NaN            NaN  ...      3.4       NaN             1
915   57  NaN            NaN  ...      1.2       NaN             1
916   57  NaN            NaN  ...      0.0       NaN             1
917   38  NaN            NaN  ...      0.0       NaN             0

[918 rows x 12 columns]

Cleaned DataFrame:
     Age  Sex  ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0     40  NaN            NaN  ...      0.0       NaN             0
1     49  NaN            NaN  ...      1.0       NaN             1
2     37  NaN            NaN  ...      0.0       NaN             0
3     48  NaN            NaN  ...      1.5       NaN             1
4     54  NaN            NaN  ...      0.0       NaN             0
..   ...  ...            ...  ...      ...       ...           ...
913   45  NaN            NaN  ...      1.2       NaN             1
914   68  NaN            NaN  ...      3.4       NaN             1
915   57  NaN            NaN  ...      1.2       NaN             1
916   57  NaN            NaN  ...      0.0       NaN             1
917   38  NaN            NaN  ...      0.0       NaN             0

[918 rows x 12 columns]

In [62]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to each categorical column
for column in ['Sex','RestingECG','ExerciseAngina','ST_Slope']:
    df[column] = label_encoder.fit_transform(df[column])

In [61]:
df_encoded.head()

   Age  ChestPainType  RestingBP  ...  MaxHR  Oldpeak  HeartDisease
0   40            NaN        140  ...    172      0.0             0
1   49            NaN        160  ...    156      1.0             1
2   37            NaN        130  ...     98      0.0             0
3   48            NaN        138  ...    108      1.5             1
4   54            NaN        150  ...    122      0.0             0

[5 rows x 8 columns]

In [ ]:
# Specify the column to be encoded
column_to_encode = 'Category'

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to the specified column
df[column_to_encode + '_Encoded'] = label_encoder.fit_transform(df[column_to_encode])

# Convert the encoded column values to 0 or 1
df[column_to_encode + '_Encoded'] = (df[column_to_encode + '_Encoded'] == 1).astype(int)

# Display the DataFrame with label encoding to 0 or 1
print("DataFrame after Label Encoding to 0 or 1:")
print(df)