In [2]:
import pandas as pd 
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.drop(columns=['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1,inplace=True)

In [5]:
inputs=df.drop('Survived',axis=1)
target = df['Survived']

In [6]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [8]:
inputs = pd.concat([inputs,dummies],axis=1)

In [9]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [11]:
inputs.rename(columns={'female':'Sex'})

     Pclass   Age     Fare  Sex
0         3  22.0   7.2500    0
1         1  38.0  71.2833    1
2         3  26.0   7.9250    1
3         1  35.0  53.1000    1
4         3  35.0   8.0500    0
..      ...   ...      ...  ...
886       2  27.0  13.0000    0
887       1  19.0  30.0000    1
888       3   NaN  23.4500    1
889       1  26.0  30.0000    0
890       3  32.0   7.7500    0

[891 rows x 4 columns]

In [13]:
inputs.isna().sum()

Pclass      0
Age       177
Fare        0
female      0
dtype: int64

In [15]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [16]:
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2,random_state=42)

In [19]:
from sklearn.naive_bayes import GaussianNB

In [20]:
model=GaussianNB()

In [21]:
model.fit(x_train,y_train)

GaussianNB()

In [23]:
model.score(x_test,y_test)

0.7597765363128491

In [25]:
x_test[0:10]

     Pclass        Age     Fare  female
709       3  29.699118  15.2458       0
439       2  31.000000  10.5000       0
840       3  20.000000   7.9250       0
720       2   6.000000  33.0000       1
39        3  14.000000  11.2417       1
290       1  26.000000  78.8500       1
300       3  29.699118   7.7500       1
333       3  16.000000  18.0000       0
208       3  16.000000   7.7500       1
136       1  19.000000  26.2833       1

In [26]:
y_test[0:10]

709    1
439    0
840    0
720    1
39     1
290    1
300    1
333    0
208    1
136    1
Name: Survived, dtype: int64

In [27]:
model.predict(x_test[0:10])

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1])

In [29]:
model.predict_proba(x_test[:10])

array([[0.96838166, 0.03161834],
       [0.93408322, 0.06591678],
       [0.96236118, 0.03763882],
       [0.14010625, 0.85989375],
       [0.35305418, 0.64694582],
       [0.02098571, 0.97901429],
       [0.42898218, 0.57101782],
       [0.95891063, 0.04108937],
       [0.36451786, 0.63548214],
       [0.07475238, 0.92524762]])